[project]
	description = Finds URI in large binary files.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Marek Siarkowicz (serathius)
[access "refs/for/refs/*"]
	read = group user/Marek Siarkowicz (serathius)
	push = group user/Marek Siarkowicz (serathius)
	label-Code-Review = -2..+2 group user/Marek Siarkowicz (serathius)
	label-Verified = -1..+1 group user/Marek Siarkowicz (serathius)
	rebase = group user/Marek Siarkowicz (serathius)
	removeReviewer = group user/Marek Siarkowicz (serathius)
	submit = group user/Marek Siarkowicz (serathius)
[access "refs/heads/*"]
	read = group user/Marek Siarkowicz (serathius)
	create = group user/Marek Siarkowicz (serathius)
	push = +force group user/Marek Siarkowicz (serathius)
	pushMerge = group user/Marek Siarkowicz (serathius)
[access "refs/tags/*"]
	push = +force group user/Marek Siarkowicz (serathius)
	pushTag = group user/Marek Siarkowicz (serathius)
	pushSignedTag = group user/Marek Siarkowicz (serathius)
